tensorflow==2.5.0
numpy==1.19.5
opencv_python==4.5.1.48
databases==0.4.3
fastapi==0.65.2
fastapi_mail==0.3.7
passlib==1.7.4
pydantic==1.8.2
PyJWT==2.1.0
SQLAlchemy==1.4.18
sqlalchemy_utils==0.37.6
starlette==0.14.2
uvicorn==0.14.0